.login__inputCollection {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 40px 200px 0 270px;

	width: 60%;
}
.login__input {
	margin-top: 20px;
	padding-bottom: 5px;
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.login__send {
	margin: 20px 200px 0 270px;
}
::placeholder {
	color: gray;
}

.login__register {
	margin-top: 0 0 0 0;
	font-size: 16px;
}
a {
	text-decoration: none;
}
a:hover {
	color: green;
}
